
#body{
    margin-top: 35px;
    margin-left: 5%;
}
.about-content{
    width: 100%;
}
.about-content .container{
    display: flex;
    flex-direction: row;
}

.header{
    font-family: OpenSans, Helvetica, Arial;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    color: #3A4046;
    padding: 15px;    
    letter-spacing: 1px;
}
.avatar{
    border-radius: 50%;
    height: 300px;
}
.btn-list{
    list-style: none;
    margin-left: 25px;
    padding-top: 20px;
}
.btn-list button{
    font-family: OpenSans, Helvetica, Arial;
    padding: 10px;
    width: 200px;
    height: 80px;
    border: none;
    color: #fbaa33;
    font-weight: bold;
    font-size: 15px;
    /* border-bottom: 1px solid dimgrey; */
    /* margin: 10px; */
}
.btn-list button:focus{
    background-color:#fbaa33 ;
    outline: none;
    color: white;
    border: none;
}

.desc{
    padding-top: 30px;
    width: 95%;
    list-style: none;
    margin-left: 25px;
    font-family: OpenSans, Helvetica, Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    color:#3A4046;
    font-weight: bold;
    letter-spacing: 1px;
    /* color: #5D656C; */
}
.desc ul{
    list-style: none;
}



#prj-cnt{
    margin-top: 50px;
    width: 100%;

}

hr{
    width: 20%;
    height: 5px;
    background: dimgray;
    position: absolute;
    left: 5%;
}